<!doctype html>
<html>

<head>
    <title>ADVENTURE YOU</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=
            device-width, height=device-height, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="css/bootstrap.css">
    </link>
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    </link>
    <link rel="stylesheet" href="css/style.css">
    </link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>

<header>
    <div id="header">
        <div class="container">
            <div>
                <div class="title">
                    <a href="/"><img class="adventureyou" src="images/ADVENTURE YOU.png"></a>
                </div>
                <div>
                    <nav>
                        <ul>
                            <div class="navbar-menu">
                                <li>
                                    <a href="friend"><img class="nav-icon" src="images/Profile Icon.png"></a>
                                </li>
                                <li>
                                    <a href="/"><img class="nav-icon" src="images/Feed Icon.png"></a>
                                </li>
                                <li>
                                    <a href="start_adventure"><img class="nav-icon" src="images/Map Icon.png"></a>
                                </li>
                                <li>
                                    <a class="active" href="bucket"><img class="nav-icon" src="images/Bucketlist Icon.png"></a>
                                </li>
                                <li>
                                <button class="hamburger">&#9776;</button>
                                </li>
                            </div>
                        </ul>
                    </nav>
                </div>
            </div>
            <div style="position: relative;">
                    <div class="menu">
                        <ul>
                            <a href="/logout">
                                <li>Log Out</li>
                            </a>
                            <a href="friend">
                                <li>Create an Adventure</li>
                            </a>
                            <a href="/">
                                <li>Newsfeed</li>
                            </a>
                            <a href="start_adventure">
                                <li>Start Adventuring</li>
                            </a>
                            <a href="bucket">
                                <li>Bucket List</li>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>

<section id="bucket">
    <body>
        <div class="container">
            {{#each bucketlist}}
              <div class="bucket-block">
                  <div class="col-md-6 col-sm-12 col-xs-12 align-element">
                    <!-- clearfix visible-md visible-lg visible-xs visible-sm-->
                      <img class="pic" src="{{picture}}">
                      <p class="bucket_text">
                          {{theme}}
                      </p>
                      <a class="popup-trigger">Show More</a>
                        <div class="popup">
                          <div class="content" style="text-align: center">
                              <img class="overlayimg" src="{{picture}}">
                              <p>{{description}}</p>
                              <p>Starting Location: {{startingLoc}}</p>
                              <p>Ending Location: {{endingLoc}}</p>
                              <p>Theme:{{theme}}</p>
                          </div>
                        <span class="popup-btn-close">close</span>
                      </div>
                  </div>
              </div>
            {{/each}}
        </div>
    </body>
</section>

<script src="js/main.js"></script>
<script src="js/bootstrap.js"></script>

<script>
// Popup Window
var scrollTop = '';
var newHeight = '100';

$(window).bind('scroll', function() {
  scrollTop = $( window ).scrollTop();
  newHeight = scrollTop + 100;
});

$('.popup-trigger').click(function(e) {
  document.body.style.overflow = "hidden";
  e.stopPropagation();
    $('.popup').after('<div class="page-cover"></div>');
    $('.popups').hide();
    $(this).nextAll('.popup:first').removeClass('popup-mobile').css('top', newHeight).toggle();
});

$('html, .popup-btn-close').click(function(e) {
  document.body.style.overflow = "visible";
  $('.popup').hide();
  $('.page-cover').detach();
});

$('.popup').click(function(e){
  e.stopPropagation();
});
</script>

</html>
