<!doctype html>
<html>

<head>
    <title>ADVENTURE YOU</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=
            device-width, height=device-height, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="css/bootstrap.css">
    </link>
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    </link>
    <link rel="stylesheet" href="css/style.css">
    </link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/sweetalert.css">
</head>

<header>
    <div id="header">
        <div class="container">
            <div>
                <div class="title">
                    <a href="/"><img class="adventureyou" src="images/ADVENTURE YOU.png"></a>
                </div>
                <div>
                    <nav>
                        <ul>
                            <div class="navbar-menu">
                                <li>
                                    <a href="friend"><img class="nav-icon" src="images/Plus.png"></a>
                                </li>
                                <li>
                                    <a href="/page_B"><img class="nav-icon" src="images/Feed Icon.png"></a>
                                </li>
                                <li>
                                    <a href="start_adventure"><img class="nav-icon" src="images/Mountain.png"></a>
                                </li>
                                <li>
                                    <a class="active" href="bucket"><img class="nav-icon" src="images/Bucketlist Icon.png"></a>
                                </li>
                                <li>
                                <button class="hamburger">&#9776;</button>
                                </li>
                            </div>
                        </ul>
                    </nav>
                </div>
            </div>
            <div style="position: relative;">
                    <div class="menu">
                        <ul>
                            <a href="/logout">
                                <li>Log Out</li>
                            </a>
                            <a href="friend">
                                <li>Create an Adventure</li>
                            </a>
                            <a href="/">
                                <li>Newsfeed</li>
                            </a>
                            <a href="start_adventure">
                                <li>Start Adventuring</li>
                            </a>
                            <a href="bucket">
                                <li>Bucket List</li>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>

<section id="bucket">
    <body>
      <div id = "message">
        <div id = "mimg" class="container">
          <div class="foo blue">
                <h2>Start Your Adventure Today!</h2>
                <a href="friend">
                  <button class="foobutton" formaction="friend">Create New Adventure</button>
                </a>
                <a href="/">
                  <button class="foobutton2">Add New Adventure</button>
                </a>
          </div>
        </div>
    </div>

        <div class="container">
            {{#each bucketlist}}
              <div class="bucket-block">
                  <div class="col-md-6 col-sm-12 col-xs-12 align-element">
                    <!-- clearfix visible-md visible-lg visible-xs visible-sm-->
                      <img class="pic" src="{{picture}}">
                      <p class="bucket_text">
                          {{theme}}
                      </p>
                      <a class="popup-trigger">Show More</a>
                      <div class="popup">
                          <div class="content" style="text-align: center">
                              <img class="overlayimg" src="{{picture}}">
                              <p id ="description">{{description}}</p>
                              <p>Starting Location:  <span id="startingLoc">{{startingLoc}}</span></p>
                              <p>Ending Location:  <span id="endingLoc">{{endingLoc}}</span></p>
                              <p>Theme:<span id="theme">{{theme}}</span></p>
                          </div>
                        <div class="popup-btn-close">close</div>
                        <div class="popup-btn-share" onclick="shared()">share</div>
                        <div class="popup-btn-start" onclick="start()">start adventure</div>
                      </div>
                  </div>
              </div>
            {{/each}}
        </div>
    </body>
</section>

<script src="js/main.js"></script>
<script src="js/bootstrap.js"></script>

  <script type="text/javascript">
function shared() {
    swal({
        title: "Shared to Feed!",
       // text: "Here's my error message!",
        type: "success",
        showCancelButton: true,
        cancelButtonText: "Go to feed",
        confirmButtonText: "Keep looking at the Bucketlist",
        closeOnConfirm: false,
        closeOnCancel: false
    },
    function(isConfirm) {
        if(isConfirm) {
            window.location.replace("bucket");
        } else {
            window.location.replace("/page_B");
        }
    });
}

function start() {
    swal({
        title: "Started a new adventure!!",
       // text: "Here's my error message!",
        type: "success",
        showCancelButton: true,
        cancelButtonText: "Head to the Adventures page",
        confirmButtonText: "Keep looking at the Bucketlist",
        closeOnConfirm: false,
        closeOnCancel: false
    },
    function(isConfirm) {
        if(isConfirm) {
            window.location.replace("bucket");
        }else {
            window.location.replace("start_adventure");
        }
    });
}

$("#message").ready(function(){
	if($('.bucket_text').length) {
  	$("#message").hide();
	}
});

//Add to start_adventure
$('.popup-btn-start').click(function() {
    var a = $(this).parent().children().children().attr('src');
    var d = $(this).parent().children().children().children('#description').text();
    var e = $(this).parent().children().children().children('#startingLoc').text();
    var f = $(this).parent().children().children().children('#endingLoc').text();
    var g = $(this).parent().children().children().children('#theme').text();
    $.get("adventures", {picture: a, description: d, startingLoc: e, endingLoc: f, theme: g});
});

// Popup Window
var scrollTop = '';
var newHeight = '100';

$(window).bind('scroll', function() {
  scrollTop = $( window ).scrollTop();
  newHeight = scrollTop + 100;
});

$('.popup-trigger').click(function(e) {
  document.body.style.overflow = "hidden";
  e.stopPropagation();
    $('.popup').after('<div class="page-cover"></div>');
    $('.popups').hide();
    $(this).nextAll('.popup:first').removeClass('popup-mobile').css('top', newHeight).toggle();
});

$('html, .popup-btn-close').click(function(e) {
  document.body.style.overflow = "visible";
  $('.popup').hide();
  $('.page-cover').detach();
});

$('.popup-btn-share').click(function() {
    var a = $(this).parent().children().children().attr('src');
    var d = $(this).parent().children().children().children('#description').text();
    var e = $(this).parent().children().children().children('#startingLoc').text();
    var f = $(this).parent().children().children().children('#endingLoc').text();
    var g = $(this).parent().children().children().children('#theme').text();
    var b = "DEC";
    var d = "10";
    $.get("feed", {feedPicture: a, description: d, startingLoc: e, endingLoc: f, theme: g, month: b, date: d});
});

$('.popup').click(function(e){
  e.stopPropagation();
});
</script>

</html>
