<!doctype html>

<html>
<head>
	<title>ADVENTURE YOU</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no">

	<link rel="stylesheet" href="css/bootstrap.css"></link>
	<link rel="stylesheet" href="css/bootstrap-theme.css"></link>
	<link rel="stylesheet" href="css/style.css"></link>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

</head>

<header>
	<div id="header">
		<div class="container">
			<div>
				<div class="title">
					<a href="/page_B"><img class="adventureyou" src="images/ADVENTURE YOU.png"></a>
				</div>
				<div>
					<nav>
						<ul>
							<div class="navbar-menu">
								<li><a href="friend"><img class="nav-icon" src="images/Plus.png"></a></li>
								<li><a href="/page_B"><img class="nav-icon" src="images/Feed Icon.png"></a></li>
								<li><a class="active" href="start_adventure"><img class="nav-icon" src="images/Mountain.png"></a></li>
								<li><a href="bucket"><img class="nav-icon" src="images/Bucketlist Icon.png"></a></li>
								<li><button class="hamburger">&#9776;</button></li>
							</div>
						</ul>
					</nav>
				</div>
			</div>
			<div style="position: relative;">
				<div class="menu">
					<ul>
						<a href="/logout">
							<li>Log Out</li>
						</a>
						<a href="friend">
							<li>Create an Adventure</li>
						</a>
						<a href="/">
							<li>Newsfeed</li>
						</a>
						<a href="start_adventure">
							<li>Start Adventuring</li>
						</a>
						<a href="bucket">
							<li>Bucket List</li>
						</a>
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>

<body>
	<div id = "message">
		<div id = "mimg" class="container">
			<div class="foo blue">
				<h2>Start Your Adventure Today!</h2>
				<a href="friend">
					<button class="foobutton" formaction="friend">Create New Adventure</button>
				</a>
				<a href="/">
					<button class="foobutton2">Add New Adventure</button>
				</a>
			</div>
		</div>
	</div>

	<div class="adventure">
		{{#each adventure}}
		<div class="container" src = "count()">
			<div class="col-md-6 col-sm-12 col-xs-12">
				<img class = "pictures" src = "{{picture}}" style = "margin-top: 15px; !important">
				<p2>Your Current Adventure</p2>
				<div class=" text-box col-md-12 col-sm-12 col-xs-12">
					<img src = "images/Color Fill 1.png" class ="stopbutton">
					<div class = "adventures">
						<div class = "text">
							<p>Theme:</p>
							<p1>{{theme}}</p1>
							<p>Start:</p>
							<p1>{{startingLoc}}</p1>
							<p>End:</p>
							<p1>{{endingLoc}}</p1>
							<p>Desctiption:</p>
							<p1>This is something really cool that everyone should check out tbh</p1>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-sm-12 col-xs-12 align-element3" style="padding-left: 5px !important; padding-right: 5px !important;">
				<div class="col-md-12 col-sm-12 col-xs-12 align-element3" >
						<div class="visit"> Spots to Visit: </div>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12 align-element2" >
					<div class = "adventurestatus"> 1. {{startingLoc}} <img src = "images/no.png" class ="button"> </div>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12 align-element2" >
					<div class = "adventurestatus"> 2. {{startingLoc}} <img src = "images/no.png" class ="button"> </div>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12 align-element2" >
					<div class = "adventurestatus"> 3. {{startingLoc}} <img src = "images/no.png" class ="button"> </div>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12 align-element2" >
					<div class = "adventurestatus"> 4. {{startingLoc}} <img src = "images/no.png" class ="button"> </div>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12 align-element2" >
					<div class = "adventurestatus"> 5. {{startingLoc}} <img src = "images/no.png" class ="button"> </div>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12 align-element2" >
					<div class = "adventurestatus"> 6. {{startingLoc}} <img src = "images/no.png" class ="button"> </div>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12 align-element2" >
					<div class = "adventurestatus"> 7. {{startingLoc}} <img src = "images/no.png" class ="button"> </div>
				</div>
			</div>
		</div>
		{{/each}}
	</div>
</body>

<script src="js/main.js"></script>
<script src="js/bootstrap.js"></script>

<script>
$(function() {
	var colors = ["green","yellow","red"];
	var index = 0;
	$('.adventurestatus').click(function() {
		if($(this).css("background-color") == "rgb(202, 25, 41)") {
			$(this).css("background-color", '#FECE24');
			$(this).children().attr('src', "images/wait.png");
		} else if($(this).css("background-color") == "rgb(254, 206, 36)") {
			$(this).css("background-color", 'green');
			$(this).children().attr('src', "images/yes.png");
		} else {
			$(this).css("background-color", '#CA1929');
			$(this).children().attr('src', "images/no.png");
		}
	});
})

$('.stopbutton').click(function(e) {
	$.getJSON('start_adventure.json', function(data) {
		console.log(data);
  	delete data.adventure[1];
	});
});

$("#message").ready(function(){
	if($('.adventurestatus').length) {
		$("#message").hide();
	}
});
</script>

</html>
